---

---

<div
  class="absolute left-0 top-0 hidden w-max max-w-xs rounded border border-[var(--sl-color-gray-5)] bg-[var(--sl-color-black)] p-8"
  style="box-shadow:var(--sl-shadow-md)"
  data-tooltip-content
>
  <slot />
  <div
    class="absolute size-8 rotate-45 border-[var(--sl-color-gray-5)] bg-[var(--sl-color-black)]"
    data-tooltip-arrow
  >
  </div>
</div>
