---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'div'> {}

const { class: className, ...attrs } = Astro.props
---

<div class:list={['mb-24', className]} {...attrs}>
  <slot />
</div>
