---
import type { ComponentProps } from 'astro/types'
import Button from '@/components/elements/Button.astro'

type ButtonProps = ComponentProps<typeof Button>

const { ...ButtonProps } = Astro.props
---

<Button data-dialog="trigger" {...ButtonProps}>
  <slot>Open Dialog</slot>
</Button>
